@property --fill-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.button {
  cursor: pointer;

  display: inline-flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  padding: 34px 50px;

  font-size: 20px;
  font-weight: var(--font-weight-medium);

  background-color: var(--color-white);
  border: 0;

  .prefix {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;

    color: var(--color-gray);

    background-color: var(--color-white);
    border: 1px var(--color-prefix-border) solid;
    border-radius: 50%;

    &.active::before {
      content: '';

      position: absolute;
      inset: -1px;
      transform: scaleX(-1);

      background: conic-gradient(
        var(--color-blue) var(--fill-angle),
        transparent 0
      );
      border-radius: 50%;

      mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 2.5px),
        var(--color-black) calc(100% - 1.5px)
      );

      animation: fill-ring 0.4s linear forwards;
    }
  }

  &[data-active] {
    background-color: var(--color-button-active);

    .prefix {
      color: var(--color-blue);
    }
  }
}

@keyframes fill-ring {
  to {
    --fill-angle: 360deg;
  }
}

@media (prefers-reduced-motion: reduce) {
  .prefix.active::before {
    --fill-angle: 360deg;

    animation: none;
  }
}
