@use 'assets/scss/fonts';
@use 'assets/scss/reset';
@use 'assets/scss/variables';
@use 'assets/scss/breakpoints' as *;

#root {
  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
  }
}
